html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e0e9f7;
}
#root {
  margin-bottom: 83px;
}

a {
  text-decoration: none;
  color: black;
}

/* Scrollbar CSS */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid gray;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Navbar */
.navbar {
  background-color: #e0e9f7 !important;
  padding-bottom: 0 !important;
}
.navbar-brand {
  margin-left: 10px;
}
.navbar-brand img {
  margin-bottom: 5px;
}
.brand {
  margin-left: 15px;
  font-size: 30px;
}
.nav-item {
  margin-right: 10px;
}
.nav-item button {
  margin-right: 10px;
}
@media (min-width: 992px) {
  .navbar-collapse {
    width: auto;
  }
}

/* Welcome */
.welcome {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
}
.welcome button {
  width: fit-content;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .welcome h6 {
    margin-top: 10px;
    text-align: center;
  }
  .welcome h1 {
    text-align: center;
    margin-top: 50px !important;
    font-size: 2rem !important;
  }
  .welcome .btn {
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.3rem !important;
    width: 80%;
    margin: 20px auto;
  }
}

/* services */
.services {
  margin: 135px auto;
  background-color: #ebf2fe;
  padding: 20px;
  border-radius: 86% 14% 90% 10% / 6% 89% 11% 94%;
}
.services a {
  color: black;
  text-decoration: none;
}

.services h1 {
  margin-bottom: 40px;
}

.service-card {
  background-color: #eaf2ff;
  border-radius: 8px;
  box-shadow: 1px 0px 16px 2px #afafaf8c;
  border: 0;
  margin: 5%;
  cursor: pointer;
}
.service-card:hover {
  box-shadow: 0px 9px 32px 18px #a1a1a18c;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

i {
  font-size: 60px !important;
  margin-bottom: 10px;
}

/* footer  */
.footer {
  background-color: lightgray;
  border-top: 1px solid rgb(168, 166, 166);
  padding: 15px 30px;
  padding-top: 35px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 83px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

/* social icons */
footer .social-icons a {
  color: white;
  margin-right: 10px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 5px;
  padding-top: 8px;
}
footer .social-icons a i {
  border: 1px solid transparent;
  font-size: 20px !important;
  text-align: center;
}
.fb {
  background-color: #3a5998;
}
.twt {
  background-color: #00aced;
}
.git {
  background-color: black;
}
.insta {
  background-color: #c84e90;
}
.in {
  background-color: #006699;
}

/* add question */
.choose {
  margin-right: 10px;
  border-radius: 0.25rem !important;
}
.upload {
  left: 7px !important;
}
.form-switch {
  padding-left: 3em !important;
}
.add-form {
  background-image: linear-gradient(#b5cef1, transparent);
  padding: 20px;
  border-radius: 30% 70% 70% 30% / 30% 59% 41% 70%;
}
.ReactCrop,
.croped {
  margin-top: 15px !important;
}
@media (max-width: 992px) {
  .add-form {
    border-radius: 37% 63% 80% 20% / 12% 22% 78% 88%;
  }
}

/* Make test */
.filter {
  padding: 15px 11px;
  background-color: #eaf2ff;
  border-radius: 8px;
  box-shadow: 1px 0px 16px 2px #afafaf8c;
  scrollbar-width: 0px;
  height: fit-content;
}
.filter label {
  font-size: 13px;
}
.questions-list {
  max-height: 900px;
  overflow-y: auto;
}
.ques-show-p {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}
.ques-show-img {
  border-radius: 8px;
  margin-bottom: 10px;
}

/* TakeTest */
.question {
  background-color: #fff;
  margin-left: 25px;
  border-radius: 8px;
  padding: 0;
  min-height: 500px;
  position: relative;
}
.ques-no {
  background-color: white;
  border-radius: 8px;
  padding: 0;
}
.ques-opt {
  margin: 10px;
  font-size: 1.5rem;
}
.question-opt-div {
  margin-left: 20px;
}
.ques-img {
  margin: 0 10px;
}
.ques-p {
  margin: 0 10px;
  padding: 10px;
}
.q-no {
  background-color: blue;
  color: white;
  padding: 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-bottom: 10px;
}
.q-sub {
  padding: 5px;
  margin-bottom: 10px;
  border-top: 1px solid lightgray;
  font-weight: bold;
}
.options {
  margin: 10px 20px;
}
.select-options {
  margin: 50px 20px;
}
.check-opt {
  margin-bottom: 10px;
}
.prev {
  margin: 10px;
  position: absolute;
  bottom: 0;
}
.next {
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Login */
.modal-body {
  background-image: linear-gradient(#eaf2ff, #7a9cce);
}

.google {
  display: flex !important;
  margin: 10px auto;
  width: 40% !important;
  justify-content: center;
}

.login-form form div {
  margin: auto;
}
.register-pic {
  display: block;
  margin: 10px auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.icon {
  font-size: 16px !important;
  margin-right: 10px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

/* Profile  */
.profile-pic {
  height: 250px !important;
}

.user-info i {
  font-size: 30px !important;
  margin-right: 10px;
}
.tab {
  /* min-height:50px; */
  width: 100%;
  padding: 25px;
  font-family: sans-serif;
  color: #444;
}

ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.inline li {
  display: inline-block;
  margin-left: 0;
  padding: 10px;
  border-bottom: 2px solid #eee;
  transition: all 0.5s;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  color: rgb(153, 152, 152);
}

.inline .selected {
  border-bottom: 2px solid #337ab7;
  color: #444;
}

hr {
  margin-bottom: 0 !important;
}

.loader {
  position: fixed;
  top: 40%;
  left: 50%;
}

/* Test  */
.test-card {
  background-color: #eaf2ff;
  border-radius: 8px;
  box-shadow: 1px 0px 16px 2px #afafaf8c;
  border: 0;
}

.test-icon {
  font-size: 80px !important;
}

.time-icon {
  font-size: 20px !important;
  margin-right: 7px;
  margin-left: 7px;
}
